modules = ["nodejs-20", "web"]
run = "node index.js"


[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 3000

[workflows]
runButton = "Run Full Stack"

[[workflows.workflow]]
name = "Run Full Stack"
author = 37684498

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd my-react-app && npm run start-all"
