modules = ["web", "nodejs-20"]
run = "cd my-nodejs-api && npm run dev & cd my-react-app && npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = [
  "sh",
  "-c",
  "cd ~/workspace/my-nodejs-api && npm install && cd ../my-react-app && npm install && npx concurrently --kill-others-on-fail \"cd ~/workspace/my-nodejs-api && npm run dev\" \"cd ~/workspace/my-react-app && npm run dev\""]
